@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  margin-top: 20px;
  color: white;
}

#boton {
  background-color: white;
  margin: auto;
  margin-top: 5px;
}

.card {
  width: 350px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  margin: auto;
  margin-top: 25px;
  font-size: 100px;
}

#top {
  position: absolute;
  font-size: 100px;
  bottom: 0px;
  right: 10px;
}

#bottom {
  position: absolute;
  font-size: 95px;
  top: 0px;
  left: 10px;
}

#cardNumero {
  font-size: 100px;
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
